<section class="main">
  <app-input
    [item-a-ser-editado]="itemParaSerEditado">
  </app-input>
  <div class="container">
    <div class="lista">
      <div class="header-lista">
        <h4 class="title-list">Lista de Compras</h4>
        <button
          class="btn-header"
          (click)="limparLista()"><small>Limpar Lista</small>
        </button>
      </div>
      <div *ngIf="listaDeCompras.length; else naoTemItens">
        <div *ngFor="let item of listaDeCompras">
          <app-item
            [item]="item"
            (emitindoItemParaEditar)="editarItem($event)"
            (emitindoItemParaExcluir)="excluirItem($event)">
          </app-item>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #naoTemItens>
  <small>Ainda não tem itens na lista</small>
</ng-template>
